# General ignores
*.swp
*.swo


# Ignore all things produced by autoreconf
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/configure~
/depcomp
/install-sh
/ltmain.sh
/missing
/config.log
/.libs
/Makefile
/.deps
/include/config.h.in
/include/config.h
/include/config.h.in~
/include/wolfprovider/version.h
/config.status
/include.am
/libtool
/include/stamp-h1
/libwolfprov.la
/wolfprov.lo
/test-driver
/*.log
/*.trs
/m4/libtool.m4
/m4/lt*.m4
/build-aux
/src/*.o
/src/*.lo
/src/*.lo
/src/.deps
/src/.libs
/src/.dirstamp
/test/*.o
/test/.deps
/test/.libs
/test/.dirstamp
/test/unit.test
/test/unit.log
/test/unit.trs
/scripts/*.log
*.gcno
*.gcda

# Installed dependencies
/openssl-source/
/openssl-install/
/wolfssl-source/
/wolfssl-install/
/wolfprov-install/
/artifacts

# Default stub autotools files
default_stub/ar-lib
default_stub/compile
default_stub/config.guess
default_stub/config.sub
default_stub/depcomp
default_stub/install-sh
default_stub/ltmain.sh
default_stub/missing

# Build install directories
*-install/

# Libtool archive files
*.la

# Test artifacts in subdirectories
test/**/*.log
test/**/*.test
test/**/*.trs
test/**/*.o
test/**/.deps/
test/**/.dirstamp

IDE/Android/android-ndk-r26b/
IDE/Android/openssl-source/
IDE/Android/openssl-install/
IDE/Android/wolfssl-source/
IDE/Android/wolfssl-install/
IDE/Android/wolfProvider/

examples/openssl_example

cscope.out

tags

# Debian build files
libwolfprov*.tar.gz
debian/tmp
debian/*.dch
debian/autoreconf*
debian/tmp
debian/*debhelper*
debian/*.deb
debian/*.buildinfo
debian/files
debian/libwolfprov*
debian/libssl-dev*
debian/openssl*
debian/libssl3*
!debian/*.install
!debian/*.postinst
!debian/*.postrm
!debian/*.docs
!debian/*.links
!debian/*.triggers

