#!/usr/bin/make -f

%:
	dh $@

# Multiarch triplet
DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
# Destination directory for installation
DESTDIR=$(CURDIR)/debian/tmp

# Grab the base version from debian/changelog
BASEVER := $(shell dpkg-parsechangelog -SVersion)

# Check if FIPS build is requested
WOLFSSL_ISFIPS?=0
# Variant-specific metadata
ifeq ($(WOLFSSL_ISFIPS),1)
  VARIANT           := fips
  VARIANT_DESC      := FIPS build
  VARIANT_PROVIDES  := libwolfprov-fips
  VERSION           := $(BASEVER)-fips
  FIPS_FLAG         := --enable-fips
  PROVIDER_CONF     := provider-fips.conf
else
  VARIANT           := non-fips
  VARIANT_DESC      := non-FIPS build
  VARIANT_PROVIDES  := libwolfprov-nonfips
  VERSION           := $(BASEVER)
  PROVIDER_CONF     := provider.conf
  FIPS_FLAG         :=
endif

# Debug build flag
WOLFPROV_DEBUG?=0
ifeq ($(WOLFPROV_DEBUG),1)
  VARIANT           := $(VARIANT)-debug
  VARIANT_DESC      := $(VARIANT_DESC) with debug logs
  VERSION           := $(VERSION)-debug
endif

override_dh_auto_configure:
	./autogen.sh
ifneq ($(WOLFPROV_DEBUG),0)
	./configure --enable-debug
else
	./configure
endif

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	install -d $(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)/ossl-modules
	install -m755 ./.libs/libwolfprov.so.0.0.0 \
		$(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)/ossl-modules/

	install -d $(DESTDIR)/usr/include/wolfprovider
	install -m644 ./include/wolfprovider/*.h \
		$(DESTDIR)/usr/include/wolfprovider/

	# $(MAKE) DESTDIR=$(DESTDIR) install

	# Install provider config file
	install -d $(DESTDIR)/etc/ssl/openssl.cnf.d
	install -m644 ./$(PROVIDER_CONF) \
		$(DESTDIR)/etc/ssl/openssl.cnf.d/wolfprovider.conf

override_dh_makeshlibs:
	# libwolfprov is a provider module (no SONAME); skip shlibs
	:

override_dh_gencontrol:
	# Only set variables for wolfProvider packages
	dh_gencontrol -- \
	 -v$(VERSION) \
	 -Vvariant=$(VARIANT) \
	 -Vvariant:desc="$(VARIANT_DESC)" \
	 -Vvariant:provides="$(VARIANT_PROVIDES)"

override_dh_auto_clean:
	dh_auto_clean
	rm -rf test/standalone/tests/.libs

override_dh_auto_test:
	$(MAKE) test
