name: PPP Tests

on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wolfprovider:
    uses: ./.github/workflows/build-wolfprovider.yml
    with:
      wolfssl_ref: ${{ matrix.wolfssl_ref }}
      openssl_ref: ${{ matrix.openssl_ref }}
      replace_default: ${{ matrix.replace_default }}
    strategy:
      matrix:
        wolfssl_ref: [ 'v5.8.2-stable' ]
        openssl_ref: [ 'openssl-3.5.2' ]
        replace_default: [ true ]

  test_ppp:
    runs-on: ubuntu-22.04
    container:
      image: debian:bookworm
      env:
        DEBIAN_FRONTEND: noninteractive
    needs: build_wolfprovider
    timeout-minutes: 15
    strategy:
      matrix:
        wolfssl_ref: [ 'v5.8.2-stable' ]
        openssl_ref: [ 'openssl-3.5.2' ]
        # Switched to v2.5.2 due to significant limitations with v2.4.9,
        # specifically the lack of a test suite, necessary configure options,
        # and compatibility with newer versions of openssl
        ppp_ref: [ 'master', 'v2.5.2' ]
        replace_default: [ true ]
        force_fail: [ 'WOLFPROV_FORCE_FAIL=1', '' ]
        exclude:
          - ppp_ref: 'master'
            force_fail: 'WOLFPROV_FORCE_FAIL=1'
    env:
      WOLFSSL_PACKAGES_PATH: /tmp/wolfssl-packages
      OPENSSL_PACKAGES_PATH: /tmp/openssl-packages
      WOLFPROV_PACKAGES_PATH: /tmp/wolfprov-packages

    steps:
      # Checkout the source so we can run the check-workflow-result script
      - name: Checkout wolfProvider
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Checking OpenSSL/wolfProvider packages in cache
        uses: actions/cache/restore@v4
        id: wolfprov-cache-restore
        with:
          path: |
            ${{ env.WOLFSSL_PACKAGES_PATH }}
            ${{ env.OPENSSL_PACKAGES_PATH }}
            ${{ env.WOLFPROV_PACKAGES_PATH }}
          key: openssl-wolfprov-debian-packages-${{ github.sha }}${{ matrix.replace_default && '-replace-default' || '' }}
          fail-on-cache-miss: true

      - name: Install wolfSSL/OpenSSL/wolfprov packages
        run: |
          printf "Installing OpenSSL/wolfProvider packages:\n"
          ls -la ${{ env.WOLFSSL_PACKAGES_PATH }}
          ls -la ${{ env.OPENSSL_PACKAGES_PATH }}
          ls -la ${{ env.WOLFPROV_PACKAGES_PATH }}

          apt install --reinstall -y \
            ${{ env.WOLFSSL_PACKAGES_PATH }}/libwolfssl*.deb

          apt install --reinstall -y \
            ${{ env.OPENSSL_PACKAGES_PATH }}/openssl*.deb \
            ${{ env.OPENSSL_PACKAGES_PATH }}/libssl3*.deb \
            ${{ env.OPENSSL_PACKAGES_PATH }}/libssl-dev*.deb

          apt install --reinstall -y \
            ${{ env.WOLFPROV_PACKAGES_PATH }}/libwolfprov_*.deb

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y build-essential autoconf libtool patch

      - name: Checkout PPP
        uses: actions/checkout@v4
        with:
          repository: ppp-project/ppp
          path: ppp_repo
          ref: ${{ matrix.ppp_ref }}
          fetch-depth: 1

      # TODO: use patch from OSP repo
      - name: Apply PPP compatibility fixes for OpenSSL 3.x
        working-directory: ppp_repo
        run: |
          # Disable testing of legacy algorithms
          for fn in PPP_crypto_init PPP_crypto_deinit test_md4 test_des_encrypt test_des_decrypt; do
            perl -0777 -pi -e '
              s/\bint\s+'$fn'\s*\([^)]*\)/int '$fn'() { return 1; }\nint __attribute__((unused)) __replaced_'$fn'()/g
            ' pppd/crypto.c
          done

      - name: Build and install PPP
        working-directory: ppp_repo
        run: |
          if [ -f ./autogen.sh ]; then
            ./autogen.sh
          elif [ ! -f ./configure ]; then
            autoreconf -fiv
          fi
          ./configure --prefix=$GITHUB_WORKSPACE/ppp-install --disable-microsoft-extensions
          make -j$(nproc)
          make install

      - name: Run PPP tests
        working-directory: ppp_repo
        shell: bash
        run: |
          set +o pipefail # ignore errors from make check
          export ${{ matrix.force_fail }}

          # Run tests
          make check 2>&1 | tee ppp-test.log

          # Check test results directly in YAML
          if grep -q "# FAIL:  0" pppd/test-suite.log; then
            TEST_RESULT=0
          else
            TEST_RESULT=1
          fi

          $GITHUB_WORKSPACE/.github/scripts/check-workflow-result.sh $TEST_RESULT ${{ matrix.force_fail }} ppp
