name: Simple Tests

# START OF COMMON SECTION
on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# END OF COMMON SECTION

jobs:
  simple_test:
    name: Simple Test
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    strategy:
      matrix:
        wolfssl_ref: [ 
          'master', 
          'v5.8.2-stable']
        # Test against the newest of each minor version
        openssl_ref: [
          'openssl-3.5.2',
          'openssl-3.4.2',
          'openssl-3.3.4',
          'openssl-3.2.5',
          'openssl-3.1.8',
          'openssl-3.0.17']
        debug: ['', 'WOLFPROV_DEBUG=1']

    steps:
      - name: Checkout wolfProvider
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Build and test wolfProvider
        run: |
             OPENSSL_TAG=${{ matrix.openssl_ref }} WOLFSSL_TAG=${{ matrix.wolfssl_ref }} ${{ matrix.debug }} ./scripts/build-wolfprovider.sh

      - name: Print errors
        if: ${{ failure() }}
        run: |
          if [ -f test-suite.log ] ; then
            cat test-suite.log
          fi
